.menuBar {
    -fx-background-color: LightGray;
    -fx-border-radius: 25px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.menuBar:hover {
    -fx-background-color: LightBlue;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.button {
    -fx-background-color: LightGray;
    -fx-border-radius: 25px;
    -fx-background-radius: 5px;
    -fx-animated: true;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: LightBlue;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.bounds-number {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.bounds-rectangle {
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.borderPane {
    -fx-background-image: url("background.png");
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.centerPane {
    -fx-background-image: url("no_image.jpg");
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 5px;
    -fx-background-size: 30%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.centerPane:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
}
